
/*内容*/
section{
	width: 100%;
	
}
#content{
	/*border: 1px solid red;*/
	width: 1180px;
	margin: 0 auto;
}
#crumebs{
	/*border: 1px solid black;*/
	width: 100%;
	height: 56px;
	line-height: 56px;
	font-size: 16px;
	color: #999;
}
a{
	text-decoration: none;
	color: #999;
}
#crumebs span:nth-child(4){
	color: #f60;
}
#settled{
	width: 1020px;
	border: 1px solid rgb(211,211,211);
	padding: 80px;
	background: #fff;
}
#settled_body{
	overflow: hidden;
}
#step{
	width: 900px;
	height: 42px;
	background: #E5E5E5;
	overflow: hidden;
	
}
.s1{
	background: #ff6c00;
	color: white;
}
.group{
	float: left;
	text-align: center;
	width: 200px;
	height: 42px;
	font-size: 16px;
	line-height: 42px;
	/*color: #666;*/

}
.icon{
	display: inline-block;
	background-image: url(../img/h_apply_for/icons.png);
	background-repeat: no-repeat;
	font-style: normal;
}
#step i {
	float: left;
	width: 32px;
	height: 42px;
}
.arrow1{
	background-position: -255px -144px ;
}
.arrow2{
	background-position: -253px -220px;
}
.arrow3{
	background-position: -253px -272px;
}
#agreement span:nth-child(1){
	/*border: 1px solid red;*/
	float: left;
	margin-top: 50px;
	font-weight: 100;
}
#agree{
	/*border: 1px solid red;*/
	color: rgb(26,25,25);
	line-height: 30px;
	margin: 40px 0;
	
}
#agreement{
	/*border: 1px solid red;*/
	overflow: hidden;
}
#agreement span:nth-child(2){
	/*border: 1px solid red;*/
	float: right;
	margin-top: 50px;
	font-weight: 100;
}
#agree h3{
	margin: 10px 0;
	
}
#agreecontent{
	font-size: 16px;
	color: rgb(26,25,25);
	font-weight: 100;
}
#agreesup{
	width: 1020px;
	/*overflow:hidden ;*/
	/*border: 1px solid red;*/
	margin: 0 0 35px 0;
	text-align: center;
}
#agreesup #agreecubmit{
	border: 0;
	height: 35px;
	line-height: 35px;
	background: #EC6917;
	/*float: left;*/
	font-size: 16px;
	color: white;
	padding: 0 30px;
	border-radius: 5px;
	
}
