
/*内容*/
section{
	width: 100%;
	background: #F2F2F2;
	padding-bottom: 30px;
}
#content{
	width: 1182px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
#crumebs{
	width: 100%;
	height: 56px;
	line-height: 56px;
	font-size: 16px;
	color: #999;
}
a{
	text-decoration: none;
	color: #999;
}
#crumebs span:nth-child(4){
	color: #f60;
}
/*海澜之家介绍左边*/
#shopname{
	width: 1180px;
	height: 300px;
	border: 1px solid #D3D3D3;
	background: white;
	/*overflow: hidden;*/
	
}
#shopnameleft{
	margin: 20px 20px;
	width: 360px;
	height: 260px;
	text-align: center;
	background: #F2F2F2;
	float: left;
	/*overflow: hidden;*/
	position: relative;
}

#shopnamekeshi{
	width: 1810px;
	overflow: hidden;
	position: relative;
}
#shopnamekeshi img{
	float: left;
}
#shopnamenhidden1{
	width: 360px;
	height: 200px;
	overflow: hidden;
}
#shopnamekeshi2{
	width: 1370px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}
#shopnamekeshi2 img{
	float: left;
}
#shopnameanniu img:nth-child(1){
	position: absolute;
	left: 5px;
	top: 220px;
}
#shopnameanniu img:nth-child(2){
	position: absolute;
	right: 5px;
	top: 220px;
	z-index: 100;
}
#shopnamehidden2{
	margin-top: 5px;
	margin-left: 30px;
	width: 280px;
	height: 45px;
	position: relative;
	overflow: hidden;
}
#kuang{
	width: 70px;
	height: 39px;
	border: 2px solid yellow; 
	position: absolute;
}
/*海澜之家介绍中间*/
#shopmiddle{
	display: inline-block;
	width: 450px;
	height: 260px;
	vertical-align: super;
	float: left;
	margin-top: 20px;	
}
#shopmiddleup{
	border-bottom: 2px solid #E3E3E3;
}
#shopmiddleup span:nth-child(1){
	display: block;
	width: 450px;
	color: #008de1;
	font-size: 24px;	
}
#shopmiddleup span:nth-child(2){
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	width: 450px;
	color:#666666;
	line-height: 20px;
}
/*zhong*/
#shopmiddlezz{
	border-bottom: 2px solid #E3E3E3;
}
#shopmiddlezz li{
	width: 450px;
	margin-top: 10px;
}
#shopmiddlezz li span{
	font-size: 14px;
	color: #666666;
	padding-left: 5px;
}
#shopmiddlezz li img{
	vertical-align: middle;
}
#shopmiddlezz li:nth-child(3){
	margin-bottom: 10px;
}
/*xiabu*/
#shopmiddledown span{
	width: 450px;
   margin-top: 10px;
}
#shopmiddledown span:nth-child(1){
	display: block;
	font-size: 16px;
	color: #008de1;
}
#shopmiddledown span:nth-child(2){
	display: block;
	font-size: 12px;
	color: #666666;
	line-height: 20px; 
}
/*youbian*/
#shopnameright{
	background: #EFF9FF;
	width: 310px;
	float: right;
	margin-top: 20px;
	height: 260px;
}
#shopnameright #shopnamerightsuoshu{
	margin-left: 20px;
}
#shopnameright #shopnamerightsuoshu li:nth-child(1){
	position: relative;
	height: 50px;
}
#shopnameright #shopnamerightsuoshu li:nth-child(1) span:nth-child(1){
	font-size: 16px; 
	font-weight: 900;
	line-height: 50px;
	color: #666666;
}
#shopnameright #shopnamerightsuoshu li:nth-child(1) span:nth-child(2){
	font-size: 16px; 
	color: #666666;
	line-height: 50px;
	padding-left: 5px;
}
#shopnameright #shopnamerightsuoshu li:nth-child(1) img{
	position: absolute;
	top: 0;
	right: 0;
}
#shopnameright #shopnamerightsuoshu li:nth-child(1) span:nth-child(4){
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: 5px;
	right: 2.5px;
	color: white;
}
#shopnameright #shopnamerightsuoshu li:nth-child(2){
	position: relative;
}
#shopnameright #shopnamerightsuoshu li:nth-child(2) span:nth-child(1){
	font-size: 16px; 
	font-weight: 900;
	color: #666666;
}
#shopnameright #shopnamerightsuoshu li:nth-child(2) div:nth-child(2){
	width: 87px;
	height: 6px;
	background: #D3D3D3;
	position: absolute;
	left: 80px;
	top: 5px;

}
#shopnameright #shopnamerightsuoshu li:nth-child(2) div:nth-child(3){
	width: 67px;
	height: 6px;
	background: #FF6D26;
	position: absolute;
	left: 80px;
	top: 5px;
}
#shopnameright #shopnamerightsuoshu li:nth-child(2) span:nth-child(4){
	margin-left: 105px;
	font-size: 14px;
	color: #666666;
}
#shopnameright #shopnamerightmiaosu{
 display: inline-block;
 overflow: hidden;
 margin-left: 20px;
 margin-top: 10px;

}
#shopnameright #shopnamerightmiaosu li{
	width: 92px;
	height: 80px;
	float: left;
	text-align: center;
	line-height: 40px;
	border-right: 1px dashed #D3D3D3;
}
#shopnameright #shopnamerightmiaosu li span{
	display: block;
}
#shopnameright #shopnamerightmiaosu li span:nth-child(1){
	color: #666666;
	font-size: 14px;
}
#shopnameright #shopnamerightmiaosu li span:nth-child(2){
	color: #FF6D26;
	font-size: 14px;
}
#shopnameright .shopnamerightkefu1{
    margin-left: 20px;
    margin-top: 2px;
}
#shopnameright .shopnamerightkefu1 li{
	line-height: 40px;
}
#shopnameright .shopnamerightkefu1 li:nth-child(1){
	display: inline-block;
}
#shopnameright .shopnamerightkefu1 li:nth-child(1) span:nth-child(1){
	font-size: 16px; 
	color: #666666;
}
#shopnameright .shopnamerightkefu1 li:nth-child(2){
	display: inline;
	margin-left: 10px;
	padding: 10px 15px;
	border-radius: 5px;
	background: #F46B2B;
}
#shopnameright .shopnamerightkefu1 li:nth-child(2) img{
	vertical-align: middle;
	margin-right: 5px;
}
#shopnameright .shopnamerightkefu1 li:nth-child(2) a span{
	color: white;
	font-size: 14px;
}
/*下面的点击事件*/
#menwomen{
	border-left: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	margin-top: 20px;
	background: white;	
}
#clickdown{
	width: 1180px;
	margin-bottom: 20px;
}

table{
	width: 100%;	
	
}
table tr td{
	font-size: 16px;
	padding: 10px 25px; 
	border: 1px solid #DBDBDB;
    cursor: pointer;
    background: #F8F8F8;
}
table tr:nth-child(2n) td{
	border-top: none;
}
table tr td:nth-child(2n){
	border-left: none;
	border-right: none;
}
table tr:nth-child(1) td:nth-child(11){
	border:none;
	border-left: 1px solid #DBDBDB;
	border-top: 2px solid #009AE1;
	background: white;
}
table tr td:nth-child(1){
	border-left: none;
}
/*图片*/
.photodown {
     margin-left:20px;
     margin-right: 20px;
     margin-bottom: 20px;
     background: white;
}
.photodownli1{
	border: 1px solid #F0F0F0;
	width: 218px;
	height: 330px;
	display: inline-block;
	margin: 0 2px;
}
.photodownli2{
	border: 1px solid #FDB483;
}
.photodownli1 span:nth-child(2){
	display: inline-block;
	width: 180px;
	height: 50px;
	margin-left: 19px;
	line-height: 25px;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 10px;
	color: #666666;
}
.photodownli1 span:nth-child(3){
	display: inline-block;
	margin-left: 18px;
	margin-top: 15px;
	color: #EB0319;
	font-size: 18px;
	font-weight: 900;
}
.photodownli1 span:nth-child(4){
	display: inline-block;
	margin-left: 5px;
	margin-top: 15px;
    text-decoration:line-through;
	font-size: 14px;
	font-weight: 900;
}
/*尾部*/
footer{
	margin-top: 0;
}
