section {
	width: 100%;
	background: rgb(242, 242, 242);
	position: relative;
}

#s-hide {
	width: 1180px;
	/*height: 609px;*/
	margin: 0 auto;
	padding-top: 20px;
	overflow: hidden;
}


/*左边*/

#s-hiddenLeft {
	width: 173px;
	height: 547px;
	border: 1px solid rgb(221, 221, 221);
	float: left;
	background: rgb(255, 255, 255);
}

#s-hiddenLeft>p,
.s-hiddenRight>p {
	height: 58px;
	line-height: 58px;
	padding-left: 22px;
	border-bottom: 1px solid rgb(221, 221, 221);
	color: rgb(137, 137, 137);
}

#s-hiddenLeft>p>img {
	vertical-align: middle;
}

#s-hiddenLeft>li {
	height: 37.1px;
	line-height: 37.1px;
	padding-left: 22px;
	font-size: 12px;
	color: rgb(140, 140, 140);
}

#s-hiddenLeft>li>a{
	color: rgb(102, 102, 102);
}
#s-hiddenLeft>.liActive>a{
	color: #F57333 !important;
}
#s-hiddenLeft>li:nth-child(2)>a,
#s-hiddenLeft>li:nth-child(7)>a,
#s-hiddenLeft>li:nth-child(13)>a {
	font-size: 16px;
	color: rgb(102, 102, 102);
}

#s-hiddenLeft>li>a:hover {
	color: rgb(244, 112, 49);
	cursor: pointer;
	text-decoration: underline;
}

#s-hiddenLeft>li>span:nth-child(2) {
	float: right;
	margin-right: 18px;
}

.s-hiddenRight {
	width: 986px;
	height: 547px;
	float: right;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
	display: block;
}

.s-hiddenRight>p {
	color: rgb(8, 167, 223);
	font-size: 18px;
}





/*收货地址*/
#s-addre{
	width: 940px;
	margin: 0 auto;
}
#s-addre>ul{
	height: 36px;
	background: rgb(234,234,234);
	margin-top: 15px;
	font-size: 14px;
	color: rgb(102,102,102);
}
#s-addre>ul>li{
	float: left;
	line-height: 36px;
	padding-left: 10px;
}
#s-addre>ul>li:nth-child(2){
	margin-left: 10px;
}
#s-addre>ul>li:nth-child(3){
	margin-left: 50px;
}
#s-addre>ul>li:nth-child(4){
	margin-left: 143px;
}
#s-addre>ul>li:nth-child(5){
	margin-left: 161px;
}
#s-addre>ul>li:nth-child(6){
	margin-left: 51px;
}
#s-addre>ul>li:nth-child(7){
	margin-left: 108px;
}
#s-addre>.cl{
	height: 36px;
	background: rgb(255,255,255);
	font-size: 14px;
	color: rgb(102,102,102);
	border-bottom: 1px solid rgb(211,211,211);
}
#s-addre>.cl>li{
	float: left;
	line-height: 36px;
	margin-left: 10px;
	color: rgb(102,102,102);
}
#s-addre>.cl>li:nth-child(2){
	margin-left: 20px;
}
#s-addre>.cl>li:nth-child(3){
	margin-left: 35px;
}
#s-addre>.cl>li:nth-child(4){
	margin-left: 35px;
}
#s-addre>.cl>li:nth-child(5){
	margin-left: 10px;
}
#s-addre>.cl>li:nth-child(6){
	margin-left: 20px;
}
#s-addre>.cl>li:nth-child(7){
	margin-left: 10px;
}
#s-addre>.cl>li:nth-child(7)>a>span{
	color: rgb(0,140,221);
	
}

#s-addre>.cl>li:nth-child(7)>a:nth-child(1)>span,
#s-addre>.cl>li:nth-child(7)>a:nth-child(2)>span{
	color: rgb(244,107,43);
	border-right: 1px solid rgb(102,102,102);
	width:20px;
	padding-right: 5px;
	padding-left: 5px;
}
#s-addre>.cl>li:nth-child(7)>a:nth-child(3)>span{
	padding-left: 5px;
}


/*个人资料*/

#s-personal {
	width: 100%;
	height: 380px;
}

#s-personal>p {
	height: 50px;
	line-height: 50px;
	margin-left: 70px;
	position: relative;
}

#s-personal>p:nth-child(1) {
	margin-left: 36px;
	margin-top: 35px;
}

#s-personal>p:nth-child(1)>span {
	vertical-align: middle;
}

#s-personal>p:nth-child(1)>img {
	width: 52px;
	height: 50px;
	vertical-align: middle;
}

#s-personal>p:nth-child(1)>a>span,
#s-personal>p:nth-child(5)>a>span {
	color: rgb(30, 167, 228);
	margin-left: 20px;
}

#s-personal>p:nth-child(2)>input,
#s-personal>p:nth-child(5)>input {
	width: 175px;
	height: 35px;
	background: rgb(244, 244, 244);
	border: 1px solid rgb(229, 229, 229);
}

#s-personal>p:nth-child(3)>input {
	color: rgb(156, 156, 156);
}

#s-personal>p:nth-child(3)>input:nth-child(3) {
	margin-left: 30px;
}

#s-personal>p:nth-child(4)>select {
	width: 110px;
}

#s-personal>p:nth-child(6) {
	width: 175px;
	height: 43px;
	background: rgb(244, 107, 43);
	text-align: center;
	line-height: 43px;
	border-radius: 5px;
	margin-top: 35px;
	margin-left: 112px;
}

#s-personal>p:nth-child(6)>a {
	color: rgb(255, 255, 255);
}

/*修改的东西*/
#preview11{
	width: 100px;
	height: 100px;
	border: 1px solid red;
	position: absolute;
	left: 75px;
}
#xiugai1{
	border: 1px solid red;
	width: 30px;
	position: absolute;
	top: 17px;
	opacity: 0;
}
#hshouji{
	position: absolute;
	left: 60px;
	font-size: 12px;
	color:red;
	top: 30px;
	display: none;
	
}
